* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1 {
    background: linear-gradient(90deg, #333, #555);
    color: white;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
    float: left;
    color: #333;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header h1 {
    float: left;
}

.header a:hover {
    background-color: #007BFF;
    color: #fff;
}

.header-right {
    float: right;
}

main {
    padding: 20px;
    flex: 1;
}

.intro {
    text-align: center;
    margin-top: 50px;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

.planning {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #2196F3;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bold {
    font-weight: bold;
    color: #2196F3;
}

.red {
    color: red;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    position: relative;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #005BFF;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .intro p, .planning table {
        padding: 10px;
        font-size: 14px;
    }

    .planning table {
        width: 100%;
        border-collapse: collapse;
    }

    .planning th, .planning td {
        padding: 8px;
        text-align: left;
        font-size: 14px;
    }

    .planning th {
        background-color: #f4f4f4;
    }
}